<h1>Editing Campaign</h1>

<%= render 'form', campaign: @campaign %>

<%= link_to 'Show', company_campaign_path(@campaign.company, @campaign) %> |
<%= link_to 'Back', company_path(@campaign.company) %>
